# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ambiente / SO
.DS_Store
Thumbs.db
*.swp
*.swo

# Pastas de build/compilação
dist/
build/
target/
*.class
*.jar

# IDE
.idea/
.vscode/
*.iml
Arduino/arduino-1.8.19-windows.exe

# Arquivos grandes / binários
*.zip
*.exe
*.pdf
